<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.turnerschaft.germania.germanenapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Begin FlutterDownloader customization -->
    <!-- disable default Initializer -->

</manifest>
